<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseVersion" value="3" />
		<add key="Port" value="34954" />
		<add key="Terminal_Ws_Port" value="5788" />

		<add key="iChenWeb_Port" value="5757" />
		<add key="iChenWeb_WWW" value="./www" />
		<add key="iChenWeb_TerminalConfigFile" value="./terminal/config/default.js" />
		<add key="iChenWeb_ServerLogs_Path" value="./logs" />
		<add key="iChenWeb_Timeout" value="15" />
		<!--add key="iChenWeb_Http_Redirection_Port" value="0" />
		<add key="Https_Certificate_File" value="./assets/certificate.p12" />
		<add key="Https_Certificate_Hash" value="chenhsong" /-->

		<add key="SendAliveCounter" value="10" />
		<add key="RecvAliveCounter" value="30" />
		<add key="Controller_Mappings_Path" value="./assets" />
		<add key="Controller_Connection_Timeout" value="15" />
		<add key="JobModesFile" value="./assets/iChenServerJobModes.json" />

		<add key="RestrictMoldsToJobCards" value="false" />
		<add key="AutoLoginLevel" value="0" />
		<add key="Broadcast_Messages" value="false" />
		<add key="StandAlone" value="true" />
		<add key="KeepSettings" value="true" />

		<add key="CloudStore_Account" value="ichen" />
		<add key="CloudStore_Signature" value="?sv=2018-03-28&amp;sig=uBPfDphxzedoYwga7lwa2cpta%2FUsTJzsW4vcGXxAE4c%3D&amp;spr=https%2Chttp&amp;se=2050-01-01T00%3A00%3A00Z&amp;srt=o&amp;ss=t&amp;sp=a" />

		<!--add key="IoTHub_Device_Connection" value="HostName=iChenMessageBus.azure-devices.net;DeviceId={0};SharedAccessKey=aGVsbG9raXR0eXRpZ2VyMQ==" /-->
	</appSettings>
</configuration>
