<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- The database version must match the schema of the configuration database. When in doubt, use 1. -->
		<add key="DatabaseVersion" value="3" />
		
		<!-- Port number for the iChen protocol, usually 34954 -->
		<add key="Port" value="34954" />
		
		<!-- Port number for Open Protocol, usually 5788 -->
		<add key="Terminal_Ws_Port" value="5788" />

		<!-- Port number for the web/REST interface, usually 5757 -->
		<add key="iChenWeb_Port" value="5757" />

		<!-- Login idle time-out period (in minutes) of the web/REST interface -->
		<add key="iChenWeb_Timeout" value="15" />

		<!-- Enable HTTPS on the web/REST interface end-point.
		     Notice that certificat.p12 is a test certificate which is self-signed and should not be used in production environments. -->
		<!--add key="iChenWeb_Http_Redirection_Port" value="80" />
		<add key="Https_Certificate_File" value="./assets/certificate.p12" />
		<add key="Https_Certificate_Hash" value="chenhsong" /-->

		<!-- These two settings are ALIVE timeout values for the iChen protocol.
 		     Do not change them unless you're dealing with controllers  other than the Ai/MPC/CPC/CDC series. -->
		<add key="SendAliveCounter" value="10" />
		<add key="RecvAliveCounter" value="30" />
		
		<!-- If a controller connection has no activity within this number of minutes,
		     then the controller is assumed to be off-line. This has no use in stand-alone environments. -->
		<add key="Controller_Connection_Timeout" value="15" />

		<!-- Location of external asset files; do not modify unless you know what you're doing -->
		<add key="iChenWeb_WWW" value="./www" />
		<add key="iChenWeb_ServerLogs_Path" value="./logs" />
		<add key="iChenWeb_TerminalConfigFile" value="./terminal/config/default.js" />
		<add key="Controller_Mappings_Path" value="./assets" />
		<add key="JobModesFile" value="./assets/iChenServerJobModes.json" />

		<!-- Restrict loading molds data to those that are assigned to the current job-card.
		     Set to true only when using job-cards control. -->
		<add key="RestrictMoldsToJobCards" value="false" />

		<!-- When a controller connects, automatically login to this authorization level -->
		<add key="AutoLoginLevel" value="0" />

		<!-- Keep the latest values of the machine's mold data set -->
		<add key="KeepSettings" value="true" />

		<!-- Azure Cloud Storage for data -->
		<add key="CloudStore_Account" value="ichen" />
		<add key="CloudStore_Signature" value="?sv=2018-03-28&amp;sig=uBPfDphxzedoYwga7lwa2cpta%2FUsTJzsW4vcGXxAE4c%3D&amp;spr=https%2Chttp&amp;se=2050-01-01T00%3A00%3A00Z&amp;srt=o&amp;ss=t&amp;sp=a" />

		<!-- Enable distributed system based on Azure IOT Hub (advanced users only) -->
		<!--add key="IoTHub_Device_Connection" value="HostName=iChenMessageBus.azure-devices.net;DeviceId={0};SharedAccessKey=aGVsbG9raXR0eXRpZ2VyMQ==" />
		<add key="Broadcast_Messages" value="true" />
		<add key="StandAlone" value="false" /-->
	</appSettings>
</configuration>
